<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table border="1">
    <tr>
        <td>roll num</td>
        <td>name</td>
        <td>address</td>
        <td>mark</td>
    </tr>
    <tr>
        <td>1</td>
        <td>hary</td>
        <td>hjjfdsks</td>
        <td>77</td>
    </tr>
    <tr>
        <td>1</td>
        <td>hary</td>
        <td>hjjfdsks</td>
        <td>77</td> 
    </tr>
   </table> 
</body>
</html>